html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

htm {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@keyframes fadeIn {
  0%{opacity:0}
  30%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadeIn {
  0%{opacity:0}
  30%{opacity:0}
  100%{opacity:1}
}

@keyframes slideIn {
  0%{
      transform: translateX(200%);
  }
  60%{
      transform: translateX(200%);
    }
  100% {
    transform: translateX(68%);
  }
}

body {
  margin: 0;
  padding: 0;
}

.fadeIn {
  animation:2s ease 0s normal forwards 1 fadeIn;
  -webkit-animation:2s ease 0s normal forwards 1 fadeIn;
  opacity:1
}

.slideIn {
  animation:2s ease 0s normal forwards 1 slideIn;
  -webkit-animation:2s ease 0s normal forwards 1 slideIn;
}


.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #231f20;
}

.shadow_box {
  background: #231f20;
  position: relative;
  width: 80vw;
  top: 50%;
  height: 85vh;
  transform: translate3d( 30%, -50%, 0);
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
  z-index: 5;
}

.content_wrapper {
  background: #231f20;
  z-index: 5;
  position: relative;
  top: 50%;
  transform: translate3d( -10%, -50%, 0);
  height: 85%;
  width: 110%;
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.5);
}

.content_box {
  text-align: center;
  z-index: 2;
  width: 40%;
  position: relative;
  height: 100%;
}

.text_wrapper {
  position: relative;
  width 100%;
  top: 50%;
  transform: translate3d( 0, -50%, 0);
}

.content_box .address {
  color: #d9af59;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Heebo', Sans-Serif;
  font-weight: 800;
}

.content_box .main_heading {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  line-height: 48px;
  margin: 10px 0;
  color: #e0e0e0;
}

.content_box .main_heading span {
  display: block;
  font-family: 'Heebo', Sans-Serif;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #d9af59;
}

.content_box .logo {
  margin: 20px 0;
  color: #d9af59;
}

.content_box .logo img {
  width: 200px;
  height: auto;
}

.content_box .sub {
  display: block;
}

.content_box .sub_heading {
  font-size: 60px;
  line-height: 64px;
  font-weight: 100;
  color: #e0e0e0;
  font-family: 'Heebo', Sans-Serif;
  text-transform: uppercase;
  display: block;
}

.content_box .sub_text {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #e0e0e0;
  font-family: 'Heebo', Sans-Serif;
  width: 80%;
  margin: 10px auto 10px auto;
  display: block;
}

.content_box .button_wrapper .button {
  background: #d9af59;
  display: block;
  width: 150px;
  height: 55px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Heebo', Sans-Serif;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  margin: 0 auto;
}

.main_image {
  background: url("images/office-tower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  transform: translateX(60%);
  top: 0;
  width: 60%;
  overflow: hidden;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 1280px) {
  .shadow_box {
    background: #231f20;
    position: relative;
    width: 100vw;
    top: 0;
    height: 100vh;
    transform: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 5;
  }
  .content_wrapper {
    height: 100vh;
    top: 0;
    transform: none;
  }
  .content_box {
    background: #231f20;
  }
  .content_box::before{
    display: none;
  }
  .content_box .sub_heading{
    font-size: 52px;
  }
}

@media only screen and (max-width: 980px) {
  
  @keyframes slideIn {
  0%{
      transform: translateX(200%);
  }
  60%{
      transform: translateX(200%);
    }
  100% {
    transform: translateX(0%);
  }
}
  
  .main, .shadow_box, .content_wrapper{
    background: none;
    overflow-x:hidden;
  }
  
  .main{
    overflow: visible;
  }
  
  .content_box {
    width: 100vw;
    height: 70vh;
    transform: none;
  }
  
  .content_box .main_heading, .content_box .main_heading span{
    font-size: 34px;
  }
  
  .content_box .sub {
    display: none;
  }
  
  .main_image {
    position: relative;
    top: auto;
    width: 100vw;
    height: 70vh;
    transform: translateX(0%);
    background-position: 40% center;
  }
  
  .mobile {
    display: inherit;
  }
  
}