/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #231f20;
$color-brand-accent: #d9af59;
$bkg-light-grey: #fafafa;
$bkg-dark-blue: #0c0d1c;
$black: #000;
$white: #e0e0e0;

$kell-blue: $bkg-dark-blue;
$kell-grey: $color-brand-primary;
$kell-gold: $color-brand-accent;




// Main Font
$main-font: 'Heebo', 'Helvetica', sans-serif;
$heading-font: 'Satisfy', 'Helvetica', sans-serif;
$heading-weight: 800;
$subheading-weight: 500;
$body-weight: 300;

// Sizing Variables
$kell-padding-sm: 10px;
$kell-padding-md: 20px;
$kell-padding-lg: 40px;
$kell-padding-xl: 90px;

// Spacing Variables

// Button Variables

// Radius Variables
$standard-radius: 4px;
